
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}




/* ==========================================================================
  Custom styles
  ========================================================================== */

a {
  text-decoration: none;
}

*, body {
  font-family: 'Montserrat', sans-serif;
}

input:focus {
  outline: none;
}

h1, h2, h3, h4 {
  color: #F55467;
  margin: 0;
  font-weight: 500;
}

.nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: white;
  border-bottom: solid 1px #eeeeee;
  box-sizing: border-box;
  padding: 0 30px;
}

.logo {
  height: 48px;
  margin: 10px 0;
}

.nav-items {
  position: absolute;
  left: 50%;
  top: 25px;
  transform: translateX(-50%);
  display: flex;
}

a.nav-item {
  margin: 0 20px;
  color: #333333;
  font-size: 14px;
}

.content {
  margin: 0 auto;
  max-width: 1000px;
  width: 90%;
  display: block;
}

.header {
  margin-top: 150px;
  text-align: center;
}

.header img {
  display: block;
  margin: 0 auto;
  width: 130px;
}

.header h1 {
  font-weight: normal;
  color: #F55467;
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 40px;
}

.header p {
  color: #999999;
  font-size: 14px;
  margin: 0;
}

.card {
  box-shadow: 0 0 40px 0 rgba(0,0,0,0.06);
  border-radius: 10px;
  box-sizing: border-box;
}

.main-content {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.main {
  width: calc(100% - 270px);
  padding: 30px;
}

.main p {
  margin: 0;
  padding: 0;
  color: #555555;
  line-height: 25px;
}

.sidebar {
  width: 250px;
  min-height: 100px;
}

.sidebar h3 {
  margin-bottom: 20px;
}

.subscribe {
  padding: 10px;
  text-align: center;
}

.subscribe p {
  font-size: 14px;
  color: #555555;
}

#mc_embed_signup_scroll .email {
  width: 100%;
  border: solid 1px #eeeeee;
  border-radius: 5px;
  padding: 8px 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

#mc_embed_signup_scroll .button {
  width: 100%;
  border: solid 1px #F55467;
  border-radius: 5px;
  color: #F55467;
  background: transparent;
  padding: 8px 0;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.3s;
}

#mc_embed_signup_scroll .button:hover {
  opacity: 0.7;
}

.slack {
  margin-top: 20px;
  width: 100%;
  background-color: #F55467;
  border-radius: 5px;
  padding: 8px 0;
  color: white;
  font-size: 14px;
  opacity: 1;
  transition: opacity 0.3s;
  display: block;
  text-align: center;
}

.slack:hover {
  opacity: 0.8;
}

.banner {
  width: 100%;
  background-color: #F55467;
  padding: 40px 0;
  margin-top: 50px;
}

.banner .content {
  display: flex;
  align-items: center;
}

.banner-left {
  width: calc(100% - 250px);
  color: white;
}

.banner-left h2 {
  font-weight: normal;
  color: white;
}

.banner-left p {
  margin: 0;
}

.banner-right {
  width: 250px;
}

.banner-right a {
  color: white;
  border: solid 1px white;
  border-radius: 8px;
  padding: 10px 40px;
  float: right;
  background-color: rgba(255,255,255,0);
  transition: background-color 0.3s;
}

.banner-right a:hover {
  background-color: rgba(255,255,255,0.1);
}

.footer {
  color: #999999;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
}

@media only screen and (max-width: 750px) {
  .nav-items {
    left: auto;
    right: 30px;
    transform: none;
  }

  .main-content {
    flex-direction: column;
  }

  .main {
    width: 100%;
  }
  .sidebar {
    margin-top: 40px;
    width: 100%;
  }

  .banner .content {
    flex-direction: column;
  }

  .banner-left {
    width: 100%;
  }

  .banner-right {
    width: 100%;
  }

  .banner-right a {
    float: left;
    margin-top: 20px;
  }

  .footer {
    flex-direction: column;
  }
}

@media only screen and (max-width: 550px) {
  .nav-items {
    right: auto;
    position: relative;
    top: 0;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .logo {
    display: block;
    margin: 10px auto;
  }
}


/* ==========================================================================
  Helper classes
  ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap; /* 1 */
}

/*
* Extends the .visuallyhidden class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}


/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important; /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * http://css-discuss.incutio.com/wiki/Printing_Tables
   */

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}


